/node_modules
/test/js
/test/browsertest/js
/test/fixtures/temp-*
/test/temp
/test/ChangesAndRemovals
/benchmark/js
/benchmark/fixtures
/examples
/coverage
/.nyc_output
/.jest-cache
.DS_Store
_site
*.log
.idea
.vscode
.cache
.eslintcache
package-lock.json