* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: sans-serif;
  color: rgb(32, 32, 32);
}

body {
  min-height: 100vh;
}

h2 {
  font-weight: 500;
}

/* classes */
.count-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 35px;
}

.icon-content {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-menu {
  height: 25px;
  width: 25px;
  margin-right: 15px;
  margin-left: 20px;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
}

.count {
  font-size: 12px;
  padding-top: 2px;
  margin-left: 7px;
  font-weight: 500;
  color: rgb(121, 121, 121);
}

.task-priority {
  height: 50px;
  width: 35px;
}

.task-element {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10px;
  min-width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(231, 231, 231);
}

.task-element:hover {
  background-color: rgb(241, 241, 241);
}

.task-hover-element {
  width: 99%;
  height: 1px;
  margin-top: -1px;
  margin-left: 10px;
}

.task-hover-element:hover {
  border-style: none;
}

.task-label-container, .task-attributes-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 50px;
}

.task-attributes-container {
  justify-content: flex-end;
}

.task-item-container {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.task-category-container {
  font-size: 14px;
  font-weight: 300;
  color: rgb(121, 121, 121);
}

.task-icon-container, .task-status-container, .task-avatar-container {
  display: flex;
  width: 50px;
  max-width: 30px;
  max-height: 50px;
}

.task-icon-container {
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url('/src/Components/SVG/task-icon.svg');
}

.task-status-container {
  display: flex;
}

.task-avatar-container {
  display: none;
}


/* IDs */
#header {
  height: 60px;
  width: 100vw;
  background-color: rgb(10, 169, 10);
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
}

#header-logo {
  height: 30px;
  width: 200px;
  margin-left: 50px;
  color: white;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 500;
}
  /* menu */
#menu {
  width: 300px;
  height: calc(100vh - 60px);
  background-color: rgb(240, 243, 240);
  position: fixed;
  bottom: 0;
  border-right: 1px solid rgb(168, 168, 168);
  overflow: hidden;
}

#menu-items-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin: 50px 0 0 15px;
}

#add-task-container {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  font-family: sans-serif;
  margin: 10px 0 40px 20px;
}

#add-task-form-container {
  min-width: 100%;
  height: 500px;
  display: flex;
  background-color: rgb(212, 212, 212);
}

#add-task-form {
  min-width: 100%;
}

#add-task-icon-container {
  height: 40px;
  width: 40px;
  background-color: rgba(17, 202, 17, 0.609);
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#add-task-icon {
  font-family: sans-serif;
  font-weight: 100;
  font-size: 44px;
  color: white;
}

#add-task-label {
  margin-left: 20px;
}

#task-name-label {
  padding-right: 5px;
}

#category-ul {
  list-style: none;
  background-color: rgb(190, 248, 229);
}

#inbox-container, #today-container, #next-seven-container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  margin-bottom: 5px;
  font-family: sans-serif;
  width: 300px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

#inbox-container > *, #today-container > *, #next-seven-container > * {
  pointer-events: none;
}

#inbox-container:hover, #today-container:hover, #next-seven-container:hover {
  background-color: rgb(255, 255, 255);
}

#inbox-container:active, #today-container:active, #next-seven-container:active {
  transition: background-color .05s ease-in-out;
  background-color: rgb(184, 255, 228);
}

#inbox-icon {
  margin-right: 15px;
  background-image: url('/src/Components/SVG/inbox-file.svg');
}

#today-icon {
  margin-right: 15px;
  background-image: url('/src/Components/SVG/today-logo.svg');
}

#next-seven-icon {
  margin-right: 15px;
  background-image: url('/src/Components/SVG/next-seven.svg');
}


/* main content */
#content-wrapper {
  min-height: calc(100vh - 60px);
  width: calc(100vw - 300px);
  background-color: rgb(255, 255, 255);
  margin-left: 300px;
  margin-top: 60px;
  padding: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}

#content-header-container {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  min-width: 100%;
  margin-bottom: 25px;
}

#icons-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
}
#icon-person {
  background-image: url('/src/Components/SVG/add-person.svg');
}
#icon-person:hover {
  background-image: url('/src/Components/SVG/add-person-hover.svg');
}

#icon-settings {
  background-image: url('/src/Components/SVG/3-dots.svg');
}

#icon-settings:hover {
  background-image: url('/src/Components/SVG/3-dots-hover.svg');
}

#icon-chat {
  background-image: url('/src/Components/SVG/chat-bubble.svg');
}

#icon-chat:hover {
  background-image: url('/src/Components/SVG/chat-bubble-hover.svg');
}

#task-wrapper {
  min-width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}