/* GLOBAL */

@import "~js-datepicker/dist/datepicker.min.css";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: sans-serif;
  color: rgb(32, 32, 32);
}

body {
  min-height: 100vh;
}

h2 {
  font-weight: 500;
}







/* HEADER */

.icon-content {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

#header {
  height: 60px;
  width: 100vw;
  /* background-color: rgb(10, 169, 10); */
  background: linear-gradient(135deg, #3CD3AD, #4CB8C4);
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  position: fixed;
  
}

#header-logo {
  height: 30px;
  width: 200px;
  margin-left: 50px;
  color: white;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 500;
}





/* CONTENT */

#content-wrapper {
  min-height: calc(100vh - 60px);
  width: calc(100vw - 400px);
  background-color: rgb(255, 255, 255);
  margin-left: 400px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}

/* CONTENT HEADER */
#content-header-container {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  background: linear-gradient(135deg, hsl(165, 51%, 20%), hsl(187, 43%, 29%));
  position: fixed;
  left: 400px;
  top: 60px;
  right: 0;
  z-index: 10;
}

#content-header-label-container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  position: absolute;
  left: 100px;
  color: #e5f1ee;
  top: 35px;
}

#content-header-date {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-weight: 300;
  color: #e5f1ee;
  position: absolute;
  top: 35px;
  left: 46%;
}

#icons-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  right: 100px;
  top: 38px;
}

#icon-person {
  background-image: url("/src/Components/SVG/add-person-light.svg");
}
#icon-person:hover {
  background-image: url("/src/Components/SVG/add-person-light-fill.svg");
}

#icon-settings {
  background-image: url("/src/Components/SVG/3-dots-light.svg");
}

#icon-settings:hover {
  background-image: url("/src/Components/SVG/3-dots-light-fill.svg");
}

#icon-chat {
  background-image: url("/src/Components/SVG/chat-bubble-light.svg");
}

#icon-chat:hover {
  background-image: url("/src/Components/SVG/chat-bubble-light-fill.svg");
}









/* MENU */

.menu-element-container {
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 10px 0 10px 80px;
  margin-bottom: 5px;
  font-family: sans-serif;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}

.menu-element-icon {
  height: 18px;
  width: 18px;
}

.menu-element-label {
  color: #201602;
  font-size: .95rem;
  margin-left: 10px;
  letter-spacing: .03em;
}

.menu-element-container > * {
  pointer-events: none;
}

.menu-element-container:hover {
  background-color: #cafaee;
}

.menu-element-container:active {
  transition: background-color 0.05s ease-in-out;
  background-color: rgb(184, 255, 228);
}

.count {
  font-size: 12px;
  margin: .5em;
  font-weight: 500;
  color: rgb(121, 121, 121);
}

#menu {
  width: 400px;
  height: calc(100vh - 60px);
  background-color: hsl(180, 30%, 96%);
  /* background:  hsla(37, 100%, 81%, 0.294); */
  position: fixed;
  bottom: 0;
  border-right: 1px solid #dae7e4;
  overflow: hidden;
}

#menu-items-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 125px;
  padding-left: 25px;
}

.menu-divide-line {
  width: 150px;
  margin: 20px 80px;
  border-bottom: 1px solid rgb(202, 202, 202);
}








/* ADD TASK FORM */

#add-task-form-container {
  height: 500px;
  min-width: 1100px;
  display: none;
  border: none;
  background: linear-gradient(135deg, #3CD3AD, #4CB8C4);
  position: fixed;
  margin-bottom: -5em;
  top: 15em;
  right: 22em;
  left: 30em;
  z-index: 5;
}

.task-priority {
  height: 50px;
  width: 35px;
}

.hide {
  max-height: 0 !important;
}

#dropdown-wrapper {
  position: relative;
  margin-bottom: 5em;
}

#add-task-dropdown-container-category, 
#add-task-dropdown-container-priority {
  position: absolute;
}

#add-task-dropdown-container-priority {
  top: 0;
  left: 15em;
}

.icon {
  pointer-events: none;
}

.dropdown {
  width: 10em;
  margin: 0 1em 1em 1em;
  background-color: white;
}

.dropdown .title {
  margin: .3em;
  width: 45%;
  pointer-events: none;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border: none;
}

.dropdown .title .fa-angle-right {
  float: right;
  margin-top: 0.2em;
  transition: transform 0.3s;
  right: .5em;
}

.fa-angle-right {
  position: absolute;
  right: .5em;
}

.dropdown .menu {
  transition: max-height 0.5s ease-out;
  max-height: 20em;
  overflow: hidden;
}

.dropdown .menu .option {
  margin: 0.3em 0.3em 0.3em 0.3em;
  margin-top: 0.3em;
}

.dropdown .menu .option:hover {
  background: rgba(83, 81, 81, 0.2);
}

.pointer-cursor:hover {
  cursor: pointer;
}

.rotate-90 {
  transform: rotate(90deg);
}

.link-background {
  background-color: rgb(255, 255, 255);
}

.button {
  background-color: white;
  border: none;
  font-family: sans-serif;
  font-size: 1em;
  padding: 0.6em 2em;
  margin: 0 1em;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(221, 221, 221);
}

#add-task-form-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  bottom: 30px;
  width: 100%;
}

#add-task-form {
  min-width: 100%;
  padding: 50px;
  position: absolute;
}

#add-task-top-line-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  margin-bottom: 2.5em;
}

#add-task-input {
  display: flex;
  border: none;
  outline: none;
  height: 36px;
  width: 700px;
  padding-left: 1em;
  padding-top: 0.5em;
  background-color: white;
  font-size: 1em;
  resize: none;
}

#task-input::-webkit-input-placeholder {
  font-family: sans-serif;
  font-size: 16px;
}

#date-input-container {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  width: 250px;
}

#date-input-container:hover {
  background-color: rgba(240, 240, 240, 0.322);
}

#task-date {
  width: 250px;
  height: 36px;
  font-family: sans-serif;
  font-size: 0.9em;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: rgba(255, 255, 255, 0);
  padding-left: 5em;
  padding-top: 0.3em;
  margin-right: 2em;
  color: #808080;
  outline: none;
  border: none;
  cursor: pointer;
  background-image: url("/src/Components/SVG/calendar-choose.svg");
  background-repeat: no-repeat;
  background-position: right;
}

#add-task-description-container {
  max-width: 100%;
  min-height: 100px;
  border: 1px solid rgb(207, 207, 207);
  background-color: white;
  margin-bottom: 2.5em;
  padding: 0.3em 1em;
  line-height: 2em;
  display: flex;
  align-items: flex-start;
  border: none;
}

#add-task-description-input {
  border: none;
  outline: none;
  font-size: 1em;
  width: 100%;
}

#add-task-description-input::placeholder {
  justify-content: flex-start;
}

.textarea {
  font-size: 1em;
  display: block;
  font-family: sans-serif;
  outline: none;
  overflow: hidden;
}

.textarea[contenteditable]:empty::before {
  content: "Add task description";
  color: gray;
}






/* TASKS */

#task-wrapper {
  min-width: 100%;
  min-height: 100vh;
  margin-top: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: scroll;
} 

.task-date-divider-element {
  width: 100%;
  /* height: 1.5em; */
  margin-top: 2em;
  padding: 15px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  /* background: linear-gradient(135deg, rgba(195, 107, 253, 0.15), rgba(156, 237, 251, 0.13)); */
  position: relative;
  /* box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.356); */
}

.task-date-divider-label {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 15px;
  left: 20px;
}

.task-divider-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.task-element {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10px;
  width: 100%;
  height: 50px;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid rgb(243, 243, 243);
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.096);
}

.task-element:hover {
  background-color: hsl(0, 0%, 99%);
}

.delete,
.edit {
  display: flex;
  height: 50px;
  width: 50px;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.7s ease-in-out;
}
.delete {
  background-image: url("/src/Components/SVG/trash-can.svg");
  margin-right: 2em;
}

.edit {
  background-image: url("/src/Components/SVG/edit-pencil.svg");
}

.delete:hover,
.edit:hover {
  background-color: rgb(243, 243, 243);
}

.task-label-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 50px;
  pointer-events: none;
}

.task-attributes-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: 50px;
}

.task-category-container {
  font-size: 14px;
  font-weight: 300;
  color: rgb(121, 121, 121);
}

.task-icon-container {
  display: flex;
  max-width: 50px;
  max-height: 50px;
}

.team,
.person,
.avatar {
  pointer-events: none;
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/Components/SVG/team-icon.svg");
}