/* GLOBAL */
@import '~flatpickr/dist/flatpickr.min.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  min-height: 100vh;
  font-family: sans-serif;
  color: rgb(32, 32, 32);
}

body {
  min-height: 100vh;
}

h2 {
  font-weight: 500;
}

textarea:focus::-webkit-input-placeholder, input:focus::-webkit-input-placeholder {
  opacity: 0;
}







/* HEADER */

.icon-content {
  height: 25px;
  width: 25px;
  margin: 0 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-position: center;
}

#header {
  height: 60px;
  width: 100vw;
  /* background-color: rgb(10, 169, 10); */
  background: linear-gradient(135deg, #3CD3AD, #4CB8C4);
  position: fixed;
  top: 0;
  left: 0;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  z-index: 20;
  position: fixed;
  
}

#header-logo {
  height: 30px;
  width: 200px;
  margin-left: 50px;
  color: white;
  font-family: sans-serif;
  font-size: 28px;
  font-weight: 500;
}





/* CONTENT */

#content-wrapper {
  min-height: calc(100vh - 60px);
  width: calc(100vw - 400px);
  background-color: rgb(255, 255, 255);
  margin-left: 400px;
  padding: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow: auto;
}

/* CONTENT HEADER */
#content-header-container {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  height: 100px;
  background: linear-gradient(135deg, hsl(165, 51%, 20%), hsl(187, 43%, 29%));
  position: fixed;
  left: 400px;
  top: 60px;
  right: 0;
  z-index: 5;
}

#content-header-label-container {
  display: flex;
  align-items: baseline;
  flex-direction: row;
  position: absolute;
  left: 90px;
  color: #e5f1ee;
  top: 35px;
}

#content-header-label-icon{
  max-height: 28px;
  max-width: 30px;
  margin-right: 1em;
}

#content-header-date {
  margin-left: 0.5em;
  margin-top: 0.5em;
  font-weight: 300;
  color: #e5f1ee;
  position: absolute;
  top: 35px;
  left: 46%;
}

#icons-container {
  display: inline-flex;
  align-items: center;
  justify-content: space-evenly;
  position: absolute;
  right: 100px;
  top: 38px;
}

#icon-person {
  background-image: url("/src/Components/SVG/add-person-light.svg");
}
#icon-person:hover {
  background-image: url("/src/Components/SVG/add-person-light-fill.svg");
}

#icon-settings {
  background-image: url("/src/Components/SVG/3-dots-light.svg");
}

#icon-settings:hover {
  background-image: url("/src/Components/SVG/3-dots-light-fill.svg");
}

#icon-chat {
  background-image: url("/src/Components/SVG/chat-bubble-light.svg");
}

#icon-chat:hover {
  background-image: url("/src/Components/SVG/chat-bubble-light-fill.svg");
}









/* MENU */

.menu-element-container,
.menu-project-element-container,
.menu-project-subhead-container
{
  display: inline-flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: row;
  padding: 10px 0 10px 80px;
  margin-bottom: 5px;
  font-family: sans-serif;
  width: 400px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
  position: relative;
}

.pointer-events > * {
  pointer-events: none;
}

.identity-container {
  height: 50px;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  pointer-events: none;
}

.menu-element-icon {
  height: 18px;
  width: 18px;
}

.menu-project-icon {
  height: 20px;
  width: 30px;
  pointer-events: none;
}

.project-icon-container {
  width: 50px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.project-icon-container:hover {
  background-color: hsl(180, 30%, 96%);
}

.icons-container {
  width: 8em;
  height: 40px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  position: absolute;
  right: 2.5em;
  opacity: 0;
  transition: opacity 0.7s ease-in-out;
}

.menu-element-label {
  color: #201602;
  font-size: .95rem;
  margin-left: 10px;
  letter-spacing: .03em;
}

.menu-element-container > * {
  pointer-events: none;
}

.menu-element-container:hover,
.menu-project-element-container:hover {
  background-color: #cafaee;
}

.menu-element-container:active,
.menu-project-element-container:active {
  transition: background-color 0.05s ease-in-out;
  background-color: rgb(184, 255, 228);
}

.display-none {
  display: none;
}

.glasses {
  padding-top: .3em;
  margin-left: .2em;
}

.pencil {
  padding-top: .1em;
  margin-left: .6em;
}

.trash {
  padding-left: .4em;
}

.count {
  font-size: 12px;
  margin: .65em .5em .5em .8em;
  font-weight: 500;
  color: rgb(121, 121, 121);
}

#menu {
  width: 400px;
  height: calc(100vh - 60px);
  background-color: hsl(180, 30%, 96%);
  /* background:  hsla(37, 100%, 81%, 0.294); */
  position: fixed;
  bottom: 0;
  border-right: 1px solid #dae7e4;
  overflow: hidden;
}

#menu-elements-wrapper {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  margin-top: 125px;
  padding-left: 25px;
}

.menu-divide-line {
  width: 150px;
  margin: 20px 80px;
  border-bottom: 1px solid rgb(202, 202, 202);
}








/* ADD TASK FORM */

#add-task-form-container {
  height: 550px;
  min-width: 800px;
  display: none;
  border: none;
  background: linear-gradient(135deg, #3CD3AD, #4CB8C4);
  position: fixed;
  margin-bottom: -5em;
  top: 15em;
  right: 30em;
  left: 35em;
  z-index: 10;
}

#add-task-form {
  min-width: 100%;
  padding: 30px 50px 50px 50px;
}

#add-task-form-type-label {
  color: white;
  font-size: 1.5em;
  margin-bottom: 25px;
}

.task-priority {
  height: 50px;
  width: 35px;
}

.hide {
  max-height: 0 !important;
}

#dropdown-wrapper {
  position: relative;
  margin-bottom: 5em;
  width: 100%;
}

#add-task-dropdown-container-category, 
#add-task-dropdown-container-priority,
#add-task-dropdown-container-project {
  position: absolute;
}

#add-task-dropdown-container-category {
  top: 0px;
  left: 1.4em;
}

#add-task-dropdown-container-priority {
  top: 0;
  left: 18em;
}

#add-task-dropdown-container-project {
  top: 0;
  left: 35em;
}

.dropdown {
  width: 10em;
  margin: 0 1em 1em 1em;
  background-color: white;
}

.dropdown .title {
  margin: .3em;
  width: 45%;
  pointer-events: none;
}

.container {
  width: 100%;
  display: inline-flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  border: none;
}

.dropdown .title .fa-angle-right {
  float: right;
  margin-top: 0.2em;
  transition: transform 0.3s;
  right: .5em;
}

.fa-angle-right {
  position: absolute;
  right: .5em;
}

.dropdown .menu {
  transition: max-height 0.5s ease-out;
  max-height: 20em;
  overflow: hidden;
}

.dropdown .menu .option {
  margin: 0.3em 0.3em 0.3em 0.3em;
  margin-top: 0.3em;
}

.dropdown .menu .option:hover {
  background: rgba(83, 81, 81, 0.2);
}

.pointer-cursor:hover {
  cursor: pointer;
}

.rotate-90 {
  transform: rotate(90deg);
}

.link-background {
  background-color: rgb(255, 255, 255);
}

.button {
  background-color: white;
  border: none;
  font-family: sans-serif;
  font-size: 1em;
  padding: 0.6em 2em;
  margin: 0 1em;
  cursor: pointer;
}

.button:hover {
  background-color: rgb(221, 221, 221);
}

#add-task-form-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  position: absolute;
  bottom: 30px;
  width: 100%;
}



#add-task-top-line-container {
  display: inline-flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  /* background-color: white; */
  margin-bottom: 2.5em;
  position: relative;
}

#add-task-input {
  display: flex;
  border: none;
  outline: none;
  height: 36px;
  width: 500px;
  padding-left: 1em;
  padding-top: 0.5em;
  background-color: white;
  font-size: 1em;
  resize: none;
}

#task-input::-webkit-input-placeholder {
  font-family: sans-serif;
  font-size: 16px;
}

#date-input-container {
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  width: 250px;
  border: none;
  cursor: pointer;
}

/* #date-input-container:hover {
  background-color: rgba(240, 240, 240, 0.322);
} */

.input {
  border: none;
  height: 100%;
  width: 100%;
  cursor: pointer;
  padding-left: 30px;
  padding-top: 3px;
  font-size: 1em;
  font-weight: 300;
  font-family: sans-serif;
  color:#808080;
  align-items: baseline;
  outline-style: none;
}

#task-date {
  width: 100%;
  height: 36px;
  line-height: 36px;
  font-family: sans-serif;
  font-size: 0.9em;
  -webkit-font-smoothing: antialiased;
  display: flex;
  align-items: baseline;
  justify-content: flex-end;
  background-color: rgb(255, 255, 255);
  color: #808080;
  outline: none;
  border: none;
  cursor: pointer;
  position: absolute;
  pointer-events: none;
}

#add-task-calendar-icon {
  position: absolute;
  background-color: #fff;
  height: 15px;
  width: 18px;
  right: 18px;
  top: 11px;
}

#add-task-description-input {
  width: 100%;
  min-height: 100px;
  border: 0;
  background-color: white;
  margin-bottom: 2.5em;
  padding: 0.3em 1em;
  line-height: 2em;
  font-size: 1em;
  font-family: sans-serif;
  resize: none;
  outline-style: none;
}

#add-task-description-input::-webkit-input-placeholder,
#add-task-input::-webkit-input-placeholder,
.input::-webkit-input-placeholder
{
  color: #999999;
}

.textarea {
  height: 100%;
  width: 100%;
  font-size: 1em;
  font-family: sans-serif;
  outline: none;
  overflow: hidden;
  /* resize: none; */
}

.bold {
  font-weight: 600;
}







/* TASKS */

#task-wrapper {
  min-width: 100%;
  min-height: 100vh;
  margin-top: 100px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  background-color: white;
  overflow: scroll;
} 

.task-date-divider-element {
  width: 100%;
  margin-top: 2em;
  padding: 15px;
  padding-top: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.task-date-divider-label {
  margin-bottom: 5px;
  color: rgba(0, 0, 0, 0.63);
  position: absolute;
  top: 15px;
  left: 20px;
}

.task-divider-content-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.task-element {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  padding-left: 10px;
  width: 100%;
  min-height: 50px;
  overflow: hidden;
  background-color: white;
  border-bottom: 1px solid rgb(243, 243, 243);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.096);
  position: relative;
}

.task-element:hover {
  background-color: hsl(0, 0%, 99%);
}

.time {
  margin-left: .4em;
  color: #626262;
}

.description-box { 
  top: 0;
  left: 300px;
  right: 300px;
  min-height: 50px;
  display: flex;
  position: absolute;
  z-index: 5;
  background-color: rgb(223, 223, 223);
  display: none;
}

.label {
  margin-left: 1.3em;
}

.delete,
.edit,
.description {
  display: flex;
  height: 50px;
  width: 50px;
  opacity: 0;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  transition: opacity 0.7s ease-in-out;
}

.delete {
  background-image: url("/src/Components/SVG/trash-can.svg");
  margin-right: 2em;
}

.edit {
  background-image: url("/src/Components/SVG/edit-pencil.svg");
}

.description {
  background-image: url("/src/Components/SVG/eyeglasses.svg");
}

.description:hover,
.delete:hover,
.edit:hover {
  background-color: rgb(243, 243, 243);
}

.task-label-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  max-height: 50px;
  /* pointer-events: none; */
} 

.task-label-container > * {
  pointer-events: none;
}

.task-attributes-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  max-height: 50px;
}

.task-category-container {
  font-size: 14px;
  font-weight: 300;
  color: rgb(121, 121, 121);
}

.icon {
  display: flex;
  max-width: 50px;
  max-height: 50px;
}

.team,
.person,
.avatar {
  pointer-events: none;
  display: none;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("/src/Components/SVG/team-icon.svg");
}






/* Confirm Container */
#confirm-container {
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  padding: 40px 40px 0 40px;
  height: 200px;
  width: 400px;
  z-index: 11;
  border: 1px solid gray;
  background-color: white;
  position: fixed;
  top:40%;
  left: 40%;
  display: none;
}

#confirm-button-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1.5em;
}

#confirm-label {
  text-align: center;
  line-height: 1.5em;
}

#confirm-cancel, #confirm-delete {
  padding: .3em 1.5em;
  /* border: 1px solid gray; */
}

#confirm-cancel:hover{
  background-color: #f5f5f5;
}

#confirm-delete{
  color: rgb(194, 40, 40);
}

#confirm-delete:hover{
  background-color: rgb(248, 235, 235);
}

/*  */

/* Overlay */

.overlay {
  position: fixed;
  display: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 6;
  background-color: #00000094;
}

/*  */

/* Description Popup */

.popup {
  width: 600px;
  min-height: 400px;
  position: fixed;
  top: 20%;
  left: 45%;
  background-color: white;
  border: none;
  z-index: 20;
  display: none;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 2em 2em 2em 3em;
  box-shadow: 
    2px 2px 8px rgba(0, 0, 0, 0.212), 
    4px 4px 8px rgba(0, 0, 0, 0.109);
}

.top {
  display: inline-flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
  margin-bottom: 1em;
}

.labels-container {
  display: flex;
  align-items: flex-end;
  justify-content: start;
  flex-direction: column;
  margin-right: 4em;
}

.date-time-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.labels {
  display: inline-flex;
  align-items: center;
  justify-content: flex-end;
  width: 5.5em;
  /* margin-right: 1em; */
}

.indent {
  padding-left: 1em;
}

.labels, .content-label{
  font-family: sans-serif;
  font-size: .9em;
  color: gray;
}

.levels {
  margin-top: .5em;
  display: inline-flex;
  align-items: baseline;
  justify-content: flex-start;
  flex-direction: row;
}

.task, .content-label {
  margin-top: 2em;
  /* align-self: start; */
  align-content: flex-start;
  /* color: black; */
}

.content-label {
  padding-top: .4em;
}

.space {
  padding-left: 3.3em;
}

.popup .button {
  /* margin-bottom: -3em; */
  margin-top: 3em;
}

/* .margin {
  margin-right: 1em;
} */

.task-description {
  margin-bottom: 3em;
}

.containers {
  display: flex;
  flex-direction: row;
  justify-content: baseline;
  align-self: start;
}